<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 
<suite name="Suite1" verbose="1" >

<listeners>
    <listener class-name="com.selenium.base.BaseClass" />
  </listeners>


  <test name="Regression1"   >
  
  <classes>
      <class name="com.selenium.tests.Login" />       
    </classes>
 </test>
 </suite>